.text-center {
  text-align: center;
  color: aqua;
  border: 5px double red;
  padding: 5px;
  width: 50%;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
.counter-text {
  color: blue;
  font-size: 2rem;
}
.red-color {
  color: red;
}
.bg-counter {
  background: yellow;
}
.bg-counter-black {
  background: black;
}
